In [4]:
from bs4 import BeautifulSoup  
import requests

In [5]:
x = requests.get('https://www.niche.com/colleges/search/best-colleges/', headers={"user-agent":"Mozilla/5.0"}) # opens Link

In [6]:
soup = BeautifulSoup(x.content, "html.parser") #Opens HTML

results = soup.find('div', {'class':'platform__wrapper'})
store= results.findAll('li', class_='search-results__list__item') # We Search through the Li sub category
university_names = soup.findAll('h2', class_='MuiTypography-root MuiTypography-titleMedium MuiLink-root MuiLink-underlineHover nss-w5w7xf' )

In [7]:
print(university_names[0].text)

Yale University

In [8]:
lst_of_uni = [name.text.upper() for name in university_names] #This For Loops Gets the raw text of the University names
print(lst_of_uni)

['YALE UNIVERSITY', 'STANFORD UNIVERSITY', 'MASSACHUSETTS INSTITUTE OF TECHNOLOGY', 'HARVARD UNIVERSITY', 'PRINCETON UNIVERSITY', 'COLUMBIA UNIVERSITY', 'UNIVERSITY OF PENNSYLVANIA', 'DARTMOUTH COLLEGE', 'RICE UNIVERSITY', 'BROWN UNIVERSITY', 'HARVEY MUDD COLLEGE', 'GEORGETOWN UNIVERSITY', 'DUKE UNIVERSITY', 'VANDERBILT UNIVERSITY', 'NORTHWESTERN UNIVERSITY', 'WASHINGTON UNIVERSITY IN ST. LOUIS', 'CALIFORNIA INSTITUTE OF TECHNOLOGY', 'POMONA COLLEGE', 'UNIVERSITY OF CALIFORNIA - LOS ANGELES', 'CARNEGIE MELLON UNIVERSITY', 'UNIVERSITY OF MICHIGAN - ANN ARBOR', 'CORNELL UNIVERSITY', 'UNIVERSITY OF CHICAGO', 'JOHNS HOPKINS UNIVERSITY', 'CLAREMONT MCKENNA COLLEGE']

In [9]:
attributes = results.findAll('p', class_= 'MuiTypography-root MuiTypography-body2 nss-1l1273x')
lst = []
for i in attributes:
    lst.append(i.text)
    
print(lst)

['New Haven, CT•', '4 Year', 'Acceptance rate 5%', 'Net price $18,647', 'SAT range 1500-1580', 'Stanford, CA•', '4 Year', 'Acceptance rate 4%', 'Net price $18,279', 'SAT range 1500-1580', 'Cambridge, MA•', '4 Year', 'Acceptance rate 4%', 'Net price $20,232', 'SAT range 1530-1580', '4 Year•', 'PLEASANTVILLE, NY', '4 Year•', 'ONEONTA, NY', '4 Year•', 'BROOKVILLE, NY', 'Cambridge, MA•', '4 Year', 'Acceptance rate 3%', 'Net price $19,491', 'SAT range 1490-1580', 'Princeton, NJ•', '4 Year', 'Acceptance rate 6%', 'Net price $18,698', 'SAT range 1490-1580', 'New York, NY•', '4 Year', 'Acceptance rate 4%', 'Net price $22,058', 'SAT range 1490-1580', 'Philadelphia, PA•', '4 Year', 'Acceptance rate 7%', 'Net price $26,123', 'SAT range 1500-1570', 'Hanover, NH•', '4 Year', 'Acceptance rate 6%', 'Net price $19,208', 'SAT range 1500-1580', 'Houston, TX•', '4 Year', 'Acceptance rate 9%', 'Net price $19,902', 'SAT range 1490-1570', 'Providence, RI•', '4 Year', 'Acceptance rate 5%', 'Net price $26,723', 'SAT range 1490-1580', 'Claremont, CA•', '4 Year', 'Acceptance rate 13%', 'Net price $39,850', 'SAT range 1480-1560', 'Washington, DC•', '4 Year', 'Acceptance rate 12%', 'Net price $35,566', 'SAT range 1410-1560', 'Durham, NC•', '4 Year', 'Acceptance rate 6%', 'Net price $23,694', 'SAT range 1490-1570', 'Nashville, TN•', '4 Year', 'Acceptance rate 7%', 'Net price $25,606', 'SAT range 1490-1570', 'Evanston, IL•', '4 Year', 'Acceptance rate 7%', 'Net price $22,095', 'SAT range 1490-1570', 'Saint Louis, MO•', '4 Year', 'Acceptance rate 12%', 'Net price $23,432', 'SAT range 1500-1570', 'Pasadena, CA•', '4 Year', 'Acceptance rate 3%', 'Net price $20,755', 'SAT range —', 'Claremont, CA•', '4 Year', 'Acceptance rate 7%', 'Net price $19,962', 'SAT range 1480-1560', 'Los Angeles, CA•', '4 Year', 'Acceptance rate 9%', 'Net price $16,999', 'SAT range —', 'Pittsburgh, PA•', '4 Year', 'Acceptance rate 11%', 'Net price $33,499', 'SAT range 1490-1570', 'Ann Arbor, MI•', '4 Year', 'Acceptance rate 18%', 'Net price $19,318', 'SAT range 1350-1530', 'Ithaca, NY•', '4 Year', 'Acceptance rate 7%', 'Net price $26,060', 'SAT range 1470-1570', 'Chicago, IL•', '4 Year', 'Acceptance rate 5%', 'Net price $36,991', 'SAT range 1500-1580', 'Baltimore, MD•', '4 Year', 'Acceptance rate 7%', 'Net price $24,034', 'SAT range 1520-1570', 'Claremont, CA•', '4 Year', 'Acceptance rate 10%', 'Net price $28,701', 'SAT range 1440-1550', '4 Year•', 'BUFFALO, NY', '2 Year•', 'SCHENECTADY, NY', '4 Year•', 'NEW YORK, NY']

In [10]:
uni_facts = [
    ['New Haven, CT•', '4 Year', 'Acceptance rate 5%', 'Net price $18,647', 'SAT range 1500-1580'],
    ['Stanford, CA•', '4 Year', 'Acceptance rate 4%', 'Net price $18,279', 'SAT range 1500-1580'],
    ['Cambridge, MA•', '4 Year', 'Acceptance rate 4%', 'Net price $20,232', 'SAT range 1530-1580'],
    ['Cambridge, MA•', '4 Year', 'Acceptance rate 3%', 'Net price $19,491', 'SAT range 1490-1580'],
    ['Princeton, NJ•', '4 Year', 'Acceptance rate 6%', 'Net price $18,698', 'SAT range 1490-1580'],
    ['New York, NY•', '4 Year', 'Acceptance rate 4%', 'Net price $22,058', 'SAT range 1490-1580'],
    ['Philadelphia, PA•', '4 Year', 'Acceptance rate 7%', 'Net price $26,123', 'SAT range 1500-1570'],
    ['Hanover, NH•', '4 Year', 'Acceptance rate 6%', 'Net price $19,208', 'SAT range 1500-1580'],
    ['Houston, TX•', '4 Year', 'Acceptance rate 9%', 'Net price $19,902', 'SAT range 1490-1570'],
    ['Providence, RI•', '4 Year', 'Acceptance rate 5%', 'Net price $26,723', 'SAT range 1490-1580'],
    ['Claremont, CA•', '4 Year', 'Acceptance rate 13%', 'Net price $39,850', 'SAT range 1480-1560'],
    ['Washington, DC•', '4 Year', 'Acceptance rate 12%', 'Net price $35,566', 'SAT range 1410-1560'],
    ['Durham, NC•', '4 Year', 'Acceptance rate 6%', 'Net price $23,694', 'SAT range 1490-1570'],
    ['Nashville, TN•', '4 Year', 'Acceptance rate 7%', 'Net price $25,606', 'SAT range 1490-1570'],
    ['Evanston, IL•', '4 Year', 'Acceptance rate 7%', 'Net price $22,095', 'SAT range 1490-1570'],
    ['Saint Louis, MO•', '4 Year', 'Acceptance rate 12%', 'Net price $23,432', 'SAT range 1500-1570'],
    ['Pasadena, CA•', '4 Year', 'Acceptance rate 3%', 'Net price $20,755', 'SAT range —'],
    ['Claremont, CA•', '4 Year', 'Acceptance rate 7%', 'Net price $19,962', 'SAT range 1480-1560'],
    ['Los Angeles, CA•', '4 Year', 'Acceptance rate 9%', 'Net price $16,999', 'SAT range —'],
    ['Pittsburgh, PA•', '4 Year', 'Acceptance rate 11%', 'Net price $33,499', 'SAT range 1490-1570'],
    ['Ann Arbor, MI•', '4 Year', 'Acceptance rate 18%', 'Net price $19,318', 'SAT range 1350-1530'],
    ['Ithaca, NY•', '4 Year', 'Acceptance rate 7%', 'Net price $26,060', 'SAT range 1470-1570'],
    ['Chicago, IL•', '4 Year', 'Acceptance rate 5%', 'Net price $36,991', 'SAT range 1500-1580'],
    ['Baltimore, MD•', '4 Year', 'Acceptance rate 7%', 'Net price $24,034', 'SAT range 1520-1570'],
    ['Claremont, CA•', '4 Year', 'Acceptance rate 10%', 'Net price $28,701', 'SAT range 1440-1550']
]

In [11]:
college_info = dict(zip(lst_of_uni, uni_facts))

In [12]:
user_input = input("Enter a the name of the University you would like to know about: ")

if user_input.upper() in college_info:
  print(college_info[user_input.upper()])

Enter a the name of the University you would like to know about:  yale University

['New Haven, CT•', '4 Year', 'Acceptance rate 5%', 'Net price $18,647', 'SAT range 1500-1580']